<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.MemberMapper">

 

    <select id="getMemberInfo" resultType="site.hclub.hyndai.domain.MemberVO" parameterType="String">
        select 
		    member_no as memberNo
		    , member_id as memberId
		    , member_image as memberImage
		    , member_interest as memberInterest
		    , member_rating as memberRating
		    , employee_no as employeeNo
		    , member_pw as memberPw
		    , admin_yn as adminYn
		from member
			where
		member_id = #{memberId}
    </select>

</mapper>