<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.MemberMapper">

 
    <select id="getMemberInfo" resultType="site.hclub.hyndai.domain.MemberVO" parameterType="String">
        select 
		    member_no as memberNo
		    , member_id as memberId
		    , member_image as memberImage
		    , member_interest as memberInterest
		    , member_rating as memberRating
		    , employee_no as employeeNo
		    , member_pw as memberPw
		    , admin_yn as adminYn
		from member
			where
		member_id = #{memberId}
    </select>
    <select id="getMemberIdYn" parameterType="String" resultType="int">
    	select
    		count(*)
    	from
    		member
    	where
    		member_id = #{memberId}
    </select>
     <select id="getEmployeeYn" parameterType="site.hclub.hyndai.dto.EmployeeDTO" resultType="int">
     	select 
     		count(*) 
     	from 
     		employee
     	where employee_no = #{employeeNo}
     	and employee_name = #{employeeName}
     </select>
     <insert id="insertMemberInfo" parameterType="site.hclub.hyndai.domain.MemberVO">
     INSERT INTO member 
     ( member_id, member_interest,  employee_no, member_pw, admin_yn ) 
		VALUES
	 ( #{memberId}, #{memberInterest}, #{employeeNo}, #{memberPw}, #{adminYn}) 
     </insert>

	<select id="getEmployeeInfo" resultType="site.hclub.hyndai.domain.Employee">
		SELECT	employee_no 	AS	employeeNo
				,employee_dept 	AS	employeeDept
				,employee_position AS employeePosition
				,employee_name	AS	employeeName
		FROM	employee
		WHERE	employee_no = #{employeeNo}
	</select>

	<select id="getMypageClubInfo" resultType="site.hclub.hyndai.dto.response.MypageClubResponse">
		SELECT 	c.club_name		AS	clubName
				,c.club_image	AS	clubImage
				,c.club_info	AS	clubInfo
				,c.club_loc		AS	clubLoc
				,ctg.category_name	AS categoryName
		FROM 	club c
		JOIN	member_club mc
		ON		c.club_no = mc.club_no
		JOIN	member m
		ON		mc.member_no = m.member_no
		JOIN 	category ctg
		ON 		ctg.category_id = c.category_id
		WHERE 	m.member_id = #{memberId}
	</select>

	<update id="updateUserPw" parameterType="site.hclub.hyndai.dto.request.UpdateMemberInfoRequest">
		UPDATE	member
		SET		member_pw = #{memberPw}
		WHERE	member_id = #{memberId}
	</update>
</mapper>